@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300&display=swap');

/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: #e1ccd1 !important;
}

hr {
  border-color: #e8dbd8;
}

.h1 {
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  font-size: 3.5vw;
  font-weight: 300 !important;
  line-height: 1.5;
  text-align: center;
  color: #710303 !important;
}

.welcome-message {
  text-transform: uppercase;
  font-weight: bold;
  color: #bc8f9a;
  font-size: 3vw;
  text-align: left;
  margin-top: 1px;
  padding-left: 3%;
}

.quote {
  color: #710303 !important;

}

.quote-footer {
  color: #492b2b !important;
  opacity: 0.7;
}

.donate{
  color: #492b2b;
  opacity: 0.7;
  font-size: 1.2vw;
  cursor: pointer;
}

/*Collapsible content */
.collapsible {
 background-color: transparent;
 color: #492b2b;
 cursor: pointer;
 opacity: 0.9;
 padding: 10px;
 width: 15%;
 border: none;
 text-align: center;
 outline: none;
 font-size: 1.4vw;

}

.active, .collapsible:hover {
 background-color: transparent;
 text-transform: capitalize;
 text-decoration: underline;


}


.content {
 padding: 0 10px;
 display: none;
 overflow: hidden;
 background-color: #e8dbd8;
 border-radius: 10px;
 opacity: 0.8;
 box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1);

}


/* Table in collapsible */
.Donaterow {
 margin-left:-5px;
 margin-right:-5px;
}

.Donatecolumn {
 float: left;
 width: 50%;
 padding: 5px;
}

/* Clearfix (clear floats) */
.Donaterow::after {
 content: "";
 clear: both;
 display: table;
}

.DonateTable {
 border-collapse: collapse;
 border-spacing: 0;
 width: 100%;
}

.DonateTable th, td {
 text-align: center !important;
 text-transform: uppercase;
 font-weight: bold;
 color: #bc8f9a;
 padding: 16px;



}
.payment{
  width: auto;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#collection{
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  font-size: 3vw;
  text-transform: capitalize;
  font-weight: 200 !important;
  line-height: 1.5;
  text-align: center;
  color: #710303 !important;
  text-decoration: underline;

}
.row{
  text-align: center;
}

.image{
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.image:hover {
    opacity: 0.8;
}

.caption {
  display: inline;
  font-size: 1.2vw;
  margin-right: 1%;
  border-radius: 2px;
  padding : 5px;
  background-color: #5b1919;
  color: #e1ccd1;
  opacity: 0.9;
  text-transform: capitalize;
}

#orientation {
  position: relative;
  height: 200;
  text-align: center;
  display: none;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #c69fa8;
}

/* Download Section */
.buttons {
  background-color: Transparent !important;
  border: 1px solid #c69fa8 !important;
  text-transform: uppercase;
  font-weight: bold;
  border: transparent;
  border-radius: 25px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  color: #c69fa8;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transform: translateX(50%);
  transition: color .25s, border .25s, box-shadow .25s;
}

.MakeWallpaper-ready{
  color: #c69fa8;
  border: 1px solid #970404 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  transition: color .50s, border .25s, box-shadow .25s;

}

.buttons:hover {
  background-color: #710303 !important;
  border: 1px solid #710303 !important;
  opacity: 0.9;
  color: white;
  transition: 2s ease;
  /* delays for 1 second */
  -webkit-transition: all 1s ease;
  /* for Safari & Chrome */
}

.blue {
  border: 3px solid white;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
  margin: 0 auto;
}

td {
  padding: 15px;
  width: 200px;
}

.td1 img {
  width: 150px;
  height: 150px;
}

.td2 img {
  width: 150px;
  height: 150px;
}

#download {
  display: none;
  /* height:95vh; */

}

#myTable {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: 0 -100px repeat-x url(https://mdn.mozillademos.org/files/5415/bg_gallery.png) #4F191A;
  border-radius: 25px;
  position: relative;
}

.frame-Landscape {
  position: relative;
  margin-top: 50% !important;
  left: 5%;
  width: 220px !important;
  height: 200px !important;
}

.topImage-Landscape {
  position: absolute;
  margin-top: 60% !important;
  left: 20%;
}

.frame-Potrait {
  position: relative;
  margin-top: 30% !important;
  left: 5%;
  width: 220px !important;
  height: 200px !important;
}

.topImage-Potrait {
  position: absolute;
  margin-top: 40% !important;
  left: 20%;
}

#myTable-Potrait {
  text-align: center;
}

#icon {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  cursor: pointer;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  outline: 0;
}

#icon.active {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#preview {
  text-align: center;
  margin-top: 50px;
  margin-bottom: : 50px;
}

.save {
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  font-size: 1.5vw;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  color: #c69fa8;
  margin-top: 20px;
  display: none;
}

.footer {

  font-weight: 300;
  font-size: 1.3vw;
  opacity: 0.9;
  margin-left: 20%;
  margin-right: 20%;
  position: fixed;
  left: 0;
  bottom: 0;
  width:60%;
  border-radius: 10px 10px 0 0;
  background-color: #e8dbd8;
  color: #bc8f9a;
  text-align: center;
}
